html, body{
    height: 100%;
    width: 100%;
}

.navbar-collapse.in {
    display: block !important;
}


#home {
    background: url(../images/background.jpg) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#avatarIcon{
    max-width: 80%;
    max-height: 80%;
    border-radius: 25%;
    padding-top:40px;
    padding-bottom:50px;
    vertical-align: center;
}


#landingText{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: darkblue;
}

#gitIcon{
    width: 80px;
    height: 60px;
}

#landingText h1{
    font-size: 500%;
    font-weight: 700;
}

.padding{
    padding: 80px 0;
}

.padding img{
    width: 100%;
}

#expertiseSection{
    background-color: rgb(179, 178, 178);
}

#portfolioSection{
    background-color:#777444;
}

#portfolioItems{
    padding: 5px;
}


footer{
    /* width: 100%; */
    padding: 5% 5% 10% 5%;
    color: black;
}


.fab ,.fas{
    padding: 5%;
    font-size: 2rem;
    color: black;
}

.fab:hover, .fas:hover {
    color: darksalmon;
    text-decoration: none;
}

#footerGitIcon{
    height: 150px;
    widows: 100px;
}

#langIcon{
    width: 100px;
    height: 80px;
}

/* @media (min-width: 768px) {
    #navToggle{
        display: none;
    }
  } */
