/* Page Style */

html, body{
    height: 100%;
    width: 100%;
}

/* Navigation Bar Style  */

.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}


.navbar-default .navbar-brand , #jobTitle{
    color: #F2F2F2;
    font-family: 'Ubuntu Mono', monospace;
}

.navbar-default .navbar-nav > .active > a{
    color: #233278;
}

.navbar-default .navbar-brand:hover {
    color: #233278;
    transform: skewX(-20deg);

}

.navbar-default .navbar-nav > li > a {
    color: #F2F2F2;
    font-family: 'Ubuntu Mono', monospace;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #233278;
    /* transform: scale(1.25); */
}

.navbar-collapse.in {
    display: block !important;
    text-decoration: none;
}



.fa-bars{
    transform: none !important;
    border-color:#F2F2F2;
}

/* Landing Section  */


#home {
    background: url(../images/background.jpg) no-repeat center fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
}
.bird {
    background-image: url("../images/bird.svg");
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    -webkit-animation-name: fly-cycle;
    animation-name: fly-cycle;
    -webkit-animation-timing-function: steps(10);
    animation-timing-function: steps(10);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.bird--one {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.bird--two {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}
.bird--three {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}
.bird--four {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.bird-container {
    position: absolute;
    top: 20%;
    left: -7.5vw;
    -webkit-transform: scale(0);
    transform: scale(0);
    will-change: transform;
    -webkit-animation-name: fly-right-one;
    animation-name: fly-right-one;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.bird-container--one {
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.bird-container--two {
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.bird-container--three {
    -webkit-animation-duration: 14.6s;
    animation-duration: 14.6s;
    -webkit-animation-delay: 9.5s;
    animation-delay: 9.5s;
}
.bird-container--four {
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    -webkit-animation-delay: 10.25s;
    animation-delay: 10.25s;
}
 @-webkit-keyframes fly-cycle {
 100% {
 background-position: -900px 0;
}
}
 @keyframes fly-cycle {
 100% {
 background-position: -900px 0;
}
}
@-webkit-keyframes fly-right-one {
 0% {
 left: -10%;
 -webkit-transform: scale(0.3);
 transform: scale(0.3);
}
 10% {
 left: 10%;
 -webkit-transform: translateY(2vh) scale(0.4);
 transform: translateY(2vh) scale(0.4);
}
 20% {
 left: 30%;
 -webkit-transform: translateY(0vh) scale(0.5);
 transform: translateY(0vh) scale(0.5);
}
 30% {
 left: 50%;
 -webkit-transform: translateY(4vh) scale(0.6);
 transform: translateY(4vh) scale(0.6);
}
 40% {
 left: 70%;
 -webkit-transform: translateY(2vh) scale(0.6);
 transform: translateY(2vh) scale(0.6);
}
 50% {
 left: 90%;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.6);
}
 60% {
 left: 110%;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.6);
}
 100% {
 left: 110%;
 opacity: 1;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.6);
}
}
@keyframes fly-right-one {
 0% {
 left: -10%;
 -webkit-transform: scale(0.3);
 transform: scale(0.3);
}
 10% {
 left: 10%;
 -webkit-transform: translateY(2vh) scale(0.4);
 transform: translateY(2vh) scale(0.4);
}
 20% {
 left: 30%;
 -webkit-transform: translateY(0vh) scale(0.5);
 transform: translateY(0vh) scale(0.5);
}
 30% {
 left: 50%;
 -webkit-transform: translateY(4vh) scale(0.6);
 transform: translateY(4vh) scale(0.6);
}
 40% {
 left: 70%;
 -webkit-transform: translateY(2vh) scale(0.6);
 transform: translateY(2vh) scale(0.6);
}
 50% {
 left: 90%;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.6);
}
 60% {
 left: 110%;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.6);
}
 100% {
 left: 110%;
 opacity: 1;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.6);
}
}
@-webkit-keyframes fly-right-two {
 0% {
 left: -10%;
 opacity: 1;
 -webkit-transform: translateY(-2vh) scale(0.5);
 transform: translateY(-2vh) scale(0.5);
}
 10% {
 left: 10%;
 -webkit-transform: translateY(0vh) scale(0.4);
 transform: translateY(0vh) scale(0.4);
}
 20% {
 left: 30%;
 -webkit-transform: translateY(-4vh) scale(0.6);
 transform: translateY(-4vh) scale(0.6);
}
 30% {
 left: 50%;
 -webkit-transform: translateY(1vh) scale(0.45);
 transform: translateY(1vh) scale(0.45);
}
 40% {
 left: 70%;
 -webkit-transform: translateY(-2.5vh) scale(0.5);
 transform: translateY(-2.5vh) scale(0.5);
}
 50% {
 left: 90%;
 -webkit-transform: translateY(0vh) scale(0.45);
 transform: translateY(0vh) scale(0.45);
}
 51% {
 left: 110%;
 -webkit-transform: translateY(0vh) scale(0.45);
 transform: translateY(0vh) scale(0.45);
}
 100% {
 left: 110%;
 -webkit-transform: translateY(0vh) scale(0.45);
 transform: translateY(0vh) scale(0.45);
}
}
@keyframes fly-right-two {
 0% {
 left: -10%;
 opacity: 1;
 -webkit-transform: translateY(-2vh) scale(0.5);
 transform: translateY(-2vh) scale(0.5);
}
 10% {
 left: 10%;
 -webkit-transform: translateY(0vh) scale(0.4);
 transform: translateY(0vh) scale(0.4);
}
 20% {
 left: 30%;
 -webkit-transform: translateY(-4vh) scale(0.6);
 transform: translateY(-4vh) scale(0.6);
}
 30% {
 left: 50%;
 -webkit-transform: translateY(1vh) scale(0.45);
 transform: translateY(1vh) scale(0.45);
}
 40% {
 left: 70%;
 -webkit-transform: translateY(-2.5vh) scale(0.5);
 transform: translateY(-2.5vh) scale(0.5);
}
 50% {
 left: 90%;
 -webkit-transform: translateY(0vh) scale(0.45);
 transform: translateY(0vh) scale(0.45);
}
 51% {
 left: 110%;
 -webkit-transform: translateY(0vh) scale(0.45);
 transform: translateY(0vh) scale(0.45);
}
 100% {
 left: 110%;
 -webkit-transform: translateY(0vh) scale(0.45);
 transform: translateY(0vh) scale(0.45);
}
}

#avatarIcon{
    max-width: 80%;
    max-height: 80%;
    border-radius: 25%;
    padding-top:40px;
    padding-bottom:50px;
    vertical-align: center;
}


#landingText{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #F2F2F2;
    font-family: 'Cedarville Cursive', cursive;
    
}


#gitIcon{
    width: 80px;
    height: 50px;
}

#gitIcon:hover{
    /* transform: translateX(20px); */
    transform: rotate(1080deg);
    transition: all 3s;

}

#landingText h1{
    font-size: 500%;
    font-weight: 700;
}

.padding{
    padding: 80px 0;
}

.padding img{
    width: 100%;
}

#brandStatement {
    color: #F2F2F2 !important;
    font-family: 'Ubuntu Mono', monospace;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
}

#weatherForcast{
    padding-top: 30px;
    font-size: 15px;
    display: inline-block;
    bottom: 0px;
    align-content: right;
    font-family: 'Courier New', Courier, monospace;
    vertical-align: center;
}


#weatherForcast img{
    height: 18px;
    width: 18px;
    vertical-align: center;

}

/* Skill Set Section  */

#skillSetSection{
    /* background-color:#6DBDFF; */
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    background-size: cover;
    font-family: 'Ubuntu Mono', monospace;
    background: url(../images/expertise_bg.jpg) no-repeat center fixed;
    background: #F2F2F2 no-repeat center fixed;


}

/* #home {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
} */

#expertiseRotate{
    color : darkgray;
}

.txt-rotate{
    color:red
}


/* Portfolio Section  */

#portfolioSection{
    background-color: #F2CAA7;
    color: #023059;
    font-family: 'Ubuntu Mono', monospace;    
}

h5{
    font-weight: bolder;
}

#portfolioItems{
    padding: 5px;
}

#portfolioItems img{
    height: 250px;
}

.btn-primary {
    background-color: #023059;
}

#portfolioItems p{
    padding: 10px;
}

#langIcon{
    width: 100px;
    height: 100px;
    padding: 5px;
}

/* Footer Section  */

footer{
    width: 100%;
    padding: 5% 5% 10% 5%;
    color:#F2F2F2;
    background-color: #023059;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    font-family: 'Ubuntu Mono', monospace;


}

#myInfo:hover{
    border:2px solid #96B3D9;
    transition: 1s;
    border-radius: 10%;
    letter-spacing: 2px;
    /* box-shadow: inset 0 0 0 2px #96B3D9; */

}

/* #connectMe:hover{
    /* border:2px solid #96B3D9; */
    /* transition: 1s; */
    /* border-radius: 15%; */
    /* letter-spacing: 3px; */
    /* box-shadow: inset 0 0 0 2px #96B3D9; */

/* } */

#githubLink:hover{
    transition: 1s;
    transform: scale(1.25);
    letter-spacing: 3px;
}

#scrollTop{
    text-decoration: none;
    color: #F2F2F2 !important; 
}

#fixedBotton{
    bottom: 0;
    width: 100%;
    position: absolute;
}

.fab ,.fas{

    padding: 5%;
    font-size: 2rem;
    color: #F2F2F2;
}

.fab:hover, .fas:hover{
    transition: all 300ms ease-in-out;

    color: #96B3D9;
    text-decoration: none;
    transform: scale(2);
}

.fa-angle-up:hover{
    transition: all 1s ease-in-out;
}


#footerGitIcon{
    height: 150px;
    widows: 100px;
}